.global-background {
    /*  background-image: linear-gradient(  #E5FCC2, #9DE0AD, #45ADA8, #547980, #594F4F, #594F4F, #594F4F); */
    background-color: #171917;
    height: 100%;
    overflow-x:hidden;
    z-index: 1;
}
.app-container{
    overflow-x:hidden;
    overflow: hidden;
    position: relative;
    top:60px;
    width: 100%;
    height: auto;
    
}




