
<div class="bodylike">
 
    <div class="main">
        <div class="metaContainer">
            <div class="container">
                <div class="card">   
                    <div class="cardContainer">
                        <a href="#" title="Previous" class="arrow prev nextBtn" (click)="previousCard()"> </a>
                        
                        <div class="mainExpression">
                            <h1 class="word frontCard">drzewo</h1>
                        </div>
                        <a href="#" title="Next" class="arrow next nextBtn" (click)="nextCard()"></a>
                        
                    </div>
                    <div class="cardContainerReverse">
                        <i class="arrow prev nextBtn"  style="font-size:60px;color:#E5FCC2" (click)="previousCard()"></i>
                        <div class="mainExpression">
                            <h1 class="word backCard">a tree</h1>
                        </div>
                        <i class="arrow next nextBtn"  style="font-size:60px;color:#E5FCC2" (click)="nextCard()"></i>
                        
                    </div>
                    
                </div>
                
               
           </div> 
           <div class="iconsContainer">
            
                <div class='icon notesBtn'>
                    <i class="gg-notes" style="color: white" (click)="showAndHideCardDescription()"></i>
                    
                </div>
                <div class='icon soundBtn'>
                    <mat-icon>volume_up</mat-icon>
                </div>
                
                <div class='icon'>

                    <img class="countryFlag" src="" style="height:20px; width: 25px;">
                </div>
                <div class='icon'>
                    <i class="fas fa-clone counterIcon" style="font-size:18px;color:#E5FCC2"> 1/20</i>
                </div>
        
            </div>    
        </div>
        
        <div class="cardDescription">
            <div class='description'>
                description
            </div>
            <div class='examples'>
                examples
            </div>
            <div class="additionalContent">

                <h1 >some additional content</h1>
            </div>
        </div>
        
            
        </div>

    
      </div>