.navbar {
    top: 3px;
    position: fixed;
    width: 100%;
    overflow: hidden;
    height: 60px;
    z-index: 1;
}

.loading {
    position: fixed;
    width: 100%;
    height: 3px;
    background-image:  linear-gradient(to right,#FF00C1,#4900FF,#4900FF,#4900FF);
    z-index: 1;
}

.loading:hover {
    animation-name: example;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0%   {background-image:  linear-gradient(to right,#FF00C1,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF);}
    10%  {background-image:  linear-gradient(to right,#4900FF,#FF00C1,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF);}
    20%  {background-image:  linear-gradient(to right,#4900FF,#4900FF,#FF00C1,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF);}
    30% {background-image:  linear-gradient(to right,#4900FF,#4900FF,#4900FF,#FF00C1,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF);}
    40% {background-image:  linear-gradient(to right,#4900FF,#4900FF,#4900FF,#4900FF,#FF00C1,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF);}
    50% {background-image:  linear-gradient(to right,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF,#FF00C1,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF);}
    60% {background-image:  linear-gradient(to right,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF,#FF00C1,#4900FF,#4900FF,#4900FF,#4900FF);}
    70% {background-image:  linear-gradient(to right,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF,#FF00C1,#4900FF,#4900FF,#4900FF);}
    80% {background-image:  linear-gradient(to right,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF,#FF00C1,#4900FF,#4900FF);}
    90% {background-image:  linear-gradient(to right,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF,#FF00C1,#4900FF);}
    100% {background-image:  linear-gradient(to right,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF,#4900FF,#FF00C1);}
}