<div class="loading"></div>
<nav class="navbar navbar-expand-lg nav-bar-fixed navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="assets/logo.png"  style="height: 30px;" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Strona główna</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/cards">Moje zasoby</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Katalog</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-info" routerLink="/create-bundle">Stwórz</a>
          </li>
      </ul>
      
      <span class="navbar-text">
        here will be searchbar
      </span>
    </div>
  </nav>