<div class="create-bundle-details">
    <form  class="form" [formGroup]="createBundleDetailsForm" (ngSubmit)="ngOnSubmit()">
        <div class="create-content"> 
            
            <div class="container">
                <div class="row">
                  <div class="col-8" style="height: 100%;">
                    <div class="bundle-name">
                        <textarea #bundleName id="bundle-name-textarea" 
                        class="content-input required"  
                        type="text" 
                        rows="1" 
                        formControlName="bundleName" 
                        placeholder="tytuł zestawu" 
                        (input)="detectBundleNameChange(bundleName.value)"  
                        maxLength="100" 
                        autosize required>
                        </textarea>
                        <div class="linear-underline"></div>
                        <div id="bundle-name">tytuł zestawu</div>
                    </div>

                    <div class="bundle-description" style="height: 100%;">
                        <textarea #bundleDescription id="bundle-description-textarea" class="content-input-description"  type="text" rows="3" formControlName="bundleDescription" placeholder="opis" (input)="detectBundleDescriptionChange(bundleDescription.value)" autosize required>
                        </textarea>
                        <div class="linear-underline"></div>
                        <div id="bundle-description">opis</div>
                    </div>
                  </div>
                  <div class="col-4">
                    <mat-form-field  appearance="fill" [color]="colorValue">
                        
                        <mat-select #select panelClass="panel" 
                                    [(value)]="selectedNativeLanguage" 
                                    (selectionChange)="detectNativeLangChange($event.value.country)">
                          
                          <mat-option [value]="lang" *ngFor="let lang of languages" [value]="lang">
                            <img class="countryFlagForeign" src="assets/4x3/{{lang.country}}.svg" style="height:20px; width: 25px;">
                            {{ lang.text }}
                        </mat-option>
                        </mat-select>
                        <mat-label *ngIf="select.value==''" class="label" >Język ojczysty</mat-label>
                        
                    </mat-form-field>
                    <div *ngIf="!select.focused" class="select-underline" style="width: 100%;"></div>
                    <div *ngIf="select.focused" class="linear-underline" style="width: 100%; "></div>
                    <div *ngIf="select.value!==''" id="bundle-native-lang">Język ojczysty</div>
                      
                      
                
                      <mat-form-field class="lang-select" appearance="fill" [color]="colorValue">
                        <mat-label class="label">Język obcy</mat-label>
                        <mat-select  panelClass="panel" [(value)]="selectedForeignLanguage" (selectionChange)="detectForeignLangChange($event.value.country)">
                          
                          <mat-option [value]="lang" *ngFor="let lang of languages" [value]="lang">
                            <img class="countryFlagForeign" src="assets/4x3/{{lang.country}}.svg" style="height:20px; width: 25px;">
                            {{ lang.text }}
                        </mat-option>
                        </mat-select>
                      </mat-form-field>
                  </div>
                  
                </div>
              </div>
        
            

        
        </div>
    </form>
</div>