


    <mat-drawer-container class="mat-drawer-container-bundles-list">
        <mat-drawer #drawer class="mat-drawer-bundles-list" mode="side" (mouseover)="drawerHovered=true" (mouseout)="drawerHovered=false" opened>
            
            <div class="side-container">
                <div class="tree-header">
                    <span>Moje zasoby</span>
                </div>
                <div class="bundles-nav-section-line"></div>
                <div class="bundles-searchbar">
                      <mat-form-field class="searched-word" appearance="fill">
                        <input matInput
                        #searchWord="matInput"
                        class="content-input"
                        placeholder="szukaj..."
                        [formControl]="searchWordFormControl"
                        (input)="searchExpression(searchWord.value)" 
                        maxLength="50">
                        <mat-icon  class="icon-prefix" matPrefix>search</mat-icon>
                      </mat-form-field>  
                      
                </div>
                <div *ngIf="!searchWord.focused" class="blank-underline" style="width: 100%;"></div>
                      <div *ngIf="searchWord.focused" class="linear-underline-searchbar" style="width: 100%; "></div>
                        
                <div *ngIf="searchWord.value===''" class="new-folder-header">
                    <mat-icon>create_new_folder</mat-icon>
                    <span class="node-title">Nowy folder</span>
                </div>
                <mat-tree *ngIf="searchWord.value===''" [dataSource]="dataSource" [treeControl]="treeControl" class="folders-tree">
                    <mat-tree-node class="mat-tree-node-bundle-list" *matTreeNodeDef="let node" matTreeNodeToggle>
                        <div class="mat-tree-node-content">
                            <mat-icon class="mat-tree-node-icon">library_books</mat-icon>
                            <span class="node-title">{{node.name}} </span>
                        </div>
                         
                    </mat-tree-node>
                    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                        
                          <mat-flat-button mat-icon-button matTreeNodeToggle
                                  [attr.aria-label]="'Toggle ' + node.name">
                            <div class="node-button-content">
                                <mat-icon class="mat-icon-rtl-mirror">
                                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                  </mat-icon>
                                  <mat-icon class="node-title-icon">folder</mat-icon>
                                  <span class="node-title"> {{node.name}} </span>
                            </div>
                            
                          </mat-flat-button>
                          
                        <div [class.example-tree-invisible]="!treeControl.isExpanded(node)"
                            role="group">
                          <ng-container matTreeNodeOutlet></ng-container>
                      </div>
                    </mat-nested-tree-node>
                  </mat-tree>
                  <div *ngIf="searchWord.value!==''" class="search-container">
                    <div class="search-title-container">
                        <span class="search-title">Wyniki wyszukiwania:</span>
                    </div>
                    <mat-list class="list-of-folders" role="list" *ngFor="let f of searched_folders">
                        <div class="list-line">
                            <mat-icon class="node-title-icon">folder</mat-icon>
                            <mat-list-item 
                                class="list-item" 
                                role="listitem"
                                innerHTML="{{f.name|highlight: searchWord.value }} ">          
                            </mat-list-item>
                        </div>
                    </mat-list>
                    <mat-list class="list-of-folders" role="list" *ngFor="let b of searched_bundles">
                        <div class="list-line">
                            <mat-icon class="node-title-icon">library_books</mat-icon>
                            <mat-list-item 
                                class="list-item" 
                                role="listitem"
                                innerHTML="{{b.name|highlight: searchWord.value}}" >  
    
                            </mat-list-item>
                            <span class="folder-of-bundle-title">/{{b.folderName}}</span>
                            
                        </div>
                    </mat-list>
                </div>
            </div>

            <div [style.visibility]="drawerHovered ? 'visible' : 'hidden'" (mouseover)="drawerHovered=true" class="side-button-container ">
                <button class="expand-button" mat-mini-fab aria-label="Example icon button with a heart icon" (click)="drawer.toggle()"> 
                  <mat-icon>
                    chevron_left
                  </mat-icon>
                </button>
            </div>
        </mat-drawer>
        
        <mat-drawer-content>
            <div *ngIf="!drawer.opened" class="side-button-container-right opacity-animation">
                <button class="expand-button" mat-mini-fab aria-label="Example icon button with a heart icon" (click)="drawer.toggle()"> 
                  <mat-icon>
                    chevron_right
                  </mat-icon>
                </button>
            </div>
            <div class="bundles-container"> 
            <div class="bundles-nav">
                <div class="bundles-nav-section-title">
                    Ostatnie
                </div>
                <div class="bundles-nav-section-line"></div>
            </div>
            <div class="list" *ngFor="let b of bundles"> 
                <div class="bundle" [routerLink]="['/bundle', b.bundleID]">
                    <div class="bundle-header">
                        <h2 class="title">{{b.name}} <span class="number-of-cards">/catalog</span></h2>
                        <div class="details">
                            <span class="number-of-cards"> {{b.cardsQuantity}} karty </span>
                            <span class="date">{{getDate(b)}}</span>
                        </div>
                    
                    </div>
                <div class="linear-underline"></div>
                </div>
            </div>
            <div class="bundles-nav">
                <div class="bundles-nav-section-title">
                    Styczeń
                </div>
                <div class="bundles-nav-section-line"></div>
            </div>
        
        
            <div class="list" *ngFor="let id of bundles"> 
                <div class="bundle">
                    <div class="bundle-header">
                        <h2 class="title">Bundle title is here <span class="number-of-cards">/other_catalog</span></h2>
                        <div class="details">
                            <span class="number-of-cards"> 34 karty</span>
                            <span class="date">Aktualizowano: 4 stycznia 2022</span>
                        </div>
                        
                    </div>
                    <div class="linear-underline"></div>
                </div>
                
            </div>
        </div>
        </mat-drawer-content>
    </mat-drawer-container>

    


