.descriptionContent {
    margin-top: 2px;
    padding: 15px;
    background: rgba( 56, 56, 56, 0.65 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    box-shadow: 5px 5px rgba( 31, 38, 135, 0.37 );
    border-radius: 0 0 10px 10px;
    z-index: 0;
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    z-index: 1;
}
.content{
    background-color:rgba(0, 0, 0, 0.1);
    border: solid 0.25px white;
    width: 100%;
    color: white;
}

.buttons{
    color: white;
    display: flex;
    justify-content: flex-end;
}

.btn{
    margin-top: 5px;
}

.editBtn{
    cursor: pointer;
}


.descriptionHead{
    
    height: 30px;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    padding-left: 15px;
    padding-top: 5px;
    background: rgba( 56, 56, 56, 0.65 );
    box-shadow: 5px 5px rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    color: white;
}