.create-container{
    width: 100%;
    height: auto;
    display: block;
    align-items:center;
    flex-direction: column;
    
}
.create-card{
    width:100%;
    margin-bottom: 2em;
    width: 68%;
    overflow: hidden;
}

.iconBtn{
    color: red;
    cursor: pointer;
    align-self: flex-start;
    padding-top: 4%;
    padding-left: 1%;
}

.card-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.move-to-right{
    animation-name: move-to-right-animation;
    animation-duration: 1.5s;
    position: absolute;
}
@keyframes move-to-right-animation {
    from {
        
        margin-left: initial;
        height: auto;
    }
    to {
        height: auto;
        margin: 0;
        margin-left: 200%;
        padding: 0;
        
    }
  }

.height-to-zero{
    animation-name: height-to-zero-animation;
    animation-duration: 0.5s;
}

div.height-to-zero > mat-icon  {
    display: none;
}


@keyframes height-to-zero-animation {
    from {
        height: 50px;
    }
    to {
        height: 0px;
        
    }
  }