<div class="app-create-bundle-container">
    <create-bundle-details
    [validate]="validate">
</create-bundle-details>
<div class="create-container" *ngFor="let b of bundleCardsID">
    <div class="card-container" [id]="'card-container-'+b.id">
        <app-create-card 
            [id]="'card-'+b.id"
            class="create-card"
            [numberOfCard]="b.id"
            [displayNumberOfCard]="b.displayId"
            (deleteThisCardEvent)="deleteRequest($event, b.id)"
            [validate]="validate">
        </app-create-card>
    </div>
    
    
</div>
<div  class="add-card-container">
    <div (mouseover)="hoverAddCard=true" (mouseout)="hoverAddCard=false" class="add-card-content" (click)="addCard()">
        <div class="add-card-title-container">
            <div class="add-card-title">
                <mat-icon >add</mat-icon>
                <span>Dodaj kartę</span>
            </div>
            <div *ngIf="!hoverAddCard" class="select-underline"></div>
            <div *ngIf="hoverAddCard" class="linear-underline"></div>
        </div>
        
        
    </div>
</div>
<div class="buttons">
    <button class="btn btn-info" type="button" (click)="submit()">Zapisz</button>
</div>


</div>

